.actions {
  
  display: flex;

  align-content: top;
  justify-content: space-around;

  padding-top: 2rem;
  
  &__icon {
      fill: #fff;
      height: 1.5rem;
      width: 1.5rem;
    }
}

.search {

  &__input {
    width: 6rem;
    font-family: var(--font-gilroy);
    font-size: 1.4rem;
    color: #fff;
    background-color: transparent;
    border: none;
  }

  &__button {
    width: 6rem;
    height: 2rem;
  }

  &__icon {
    width: 6rem;
    height: 2rem;
  }
}


