.actions {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;

  padding-top: 2rem;
  height: 5rem;

  &__icon {
    fill: var(--color-white);
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 3px;
  }
}

.search {
  display: flex;
  align-items: center;
  column-gap: 2rem;

  &__input {
    width: 6rem;
    font-family: var(--font-gilroy);
    font-size: 1.4rem;
    color: var(--color-white);
    background-color: transparent;
    border: none;


    &:focus {
      outline: 2px solid var(--color-secondary-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 400;
      color: var(--color-white);
    }

    &::-moz-placeholder {
      font-weight: 400;
      color: var(--color-white);
      opacity: 1; //FireFox добавляет опасити 0ю8 к плейсхолдерам
    }
  }

  &__button {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;

    &:hover {
      color: var(--color-primary-light);
    }

    &:focus {
      outline: 2px solid var(--color-secondary-3);
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}