.filters {
  grid-column: center-start/center-end;
  margin-top: 6rem;
  margin-bottom: 6rem;

  display: flex;

  &__triangle {
    position: relative;

    margin: auto;
  }

  &__select {
    appearance: none;
    border: none;
    border-bottom: 1px solid var(--color-secondary-2);
    background-color: transparent;
    outline: none;

    font-family: var(--font-gilroy);
    font-size: 1.6rem;
    color: var(--color-primary);

    padding: 10px 60px 10px 0;

  }

  &__icon {
    height: 12px;
    width: 12px;

    position: absolute;
    transform: translate(-100%, 100%);

  }
}