.footer {
  grid-column: full-start/full-end;
  grid-row: 7/8;

  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(4, 25.5rem) minmax(6rem, 1fr);
  grid-template-rows: repeat(2, min-content);
  column-gap: 2.5rem;

  margin-top: 6rem;
  font-size: 1.5rem;



  &__links {
    grid-column: 2/3;
    grid-row: 1/2;

    margin-bottom: 6rem;
  }

  &__chapter {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 500;
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 1rem;
    letter-spacing: 3px;
  }

  .u-margin {
    margin-top: 2rem;
  }

  &__list {

    list-style: none;
    color: var(--color-primary);
    line-height: 4rem;

    &-item {}
  }

  &__payment {
    grid-column: 3/4;
    grid-row: 1/2;

  }

  &__describe {
    margin-bottom: 2rem;
    color: var(--color-primary);
    line-height: 2.3rem;
  }

  &__logo {
    width: 5rem;
    margin-right: 2rem;
  }

  &__contacts {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  &__contact {
    list-style: none;
    line-height: 4rem;

    &-list {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    fill: var(--color-primary);
    height: 2rem;
    width: 2rem;
    margin-right: 1.5rem;
    margin-top: 3px;

  }

  &__link {
    text-decoration: none;
    color: var(--color-primary);
    display: inline-block;

  }

  &__networks {
    grid-column: 5/6;
    grid-row: 1/2;
  }

  &__networks-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__nav {

    grid-column: 2/6;
    grid-row: 2/3;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid var(--color-primary);
    list-style: none;
    padding: 2rem 0 2rem 0;

    &-link {
      text-decoration: none;
      color: var(--color-primary);
    }
  }
}