.header {

  grid-column: full-start/full-end;

  background-image: linear-gradient(rgba(var(--color-primary-rgb), 0.87), rgba(var(--color-primary-rgb), 0.87)), url(../img/jew-1.jpg);
  background-size: cover;
  background-position: center;
  

  &__icon {
    background-color: #dda;
    fill: #000;
    height: 10rem;
    width: 10rem;
  }
}


