.subscribe {
  background-color: hotpink;
  grid-column: full-start/full-end;
  grid-row: 6/7;

  display: grid;
  grid-template-columns: minmax(6rem, 1fr) minmax(min-content, 84rem) minmax(6rem, 1fr);
  grid-template-rows: repeat(3 min-content);
}