.subscribe {
  background-color: black;
  background-image: url(../img/background-pattern.jpg);
  width: 100%;
  padding-bottom: 10rem;
  grid-column: full-start/full-end;
  grid-row: 6/7;

  display: grid;
  grid-template-columns: minmax(6rem, 1fr) minmax(73rem, 1fr) minmax(6rem, 1fr);
  grid-template-rows: repeat(3 min-content);

  &__heading-1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &__heading-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 2rem 0 4.5rem 0;
  }

  &__container {
    grid-column: 2/3;
    grid-row: 3/4;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8rem;
  }

  &__list {
    list-style: none;
  }

  &__icon {
    fill: var(--color-white);
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1.5rem;

  }

  &__link {}

  &__form-border {
    background-color: var(--color-white);
    outline: 1px solid var(--color-white);
    outline-offset: 1rem;
    padding: 1.2rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 80%;
  }


  &__lable {}

  &__input {
    text-transform: uppercase;
    height: 4.2rem;
    width: 20rem;
    color: var(--color-secondary-1);
    font-weight: 400;
    padding-left: 2rem;
  }

  li {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  &__btn {
    font-size: 1.5rem;
  }
}