.heading-1 {
  font-size: 3.65rem;
  font-family: var(--font-noto-serif);
  color: #fff;
  display: inline-block;
}

.btn {
  &,
  &:link,
  &:visited {    
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.6rem;
    letter-spacing: 2px;
    
    min-width: 100px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #fff;
    padding: 1.25rem 3rem;
    cursor: pointer;
    transition: all 0.2s;
    backface-visibility: hidden;
  }
  
  &:hover {
    transform: translateY(1px);
    box-shadow: 3px 3px var(--color-secondary-3);
  }

  &:active {
    outline: none;
    transform: translateY(3px);
  }

  &:focus {
    outline: none;
    box-shadow: 3px 3px var(--color-secondary-3);
    //добавить стили для режима высокой контрастности с помощью @media(forced-colors:active)
  } 
}

.btn-black {
  border: 1px solid var(--color-secondary-3);
  background-color: var(--color-primary);

  &:hover {
  box-shadow: 3px 3px var(--color-secondary-3);
 }
}